---
#
# This workflow builds a Docker image and passes it to Trivy for
# vulnerability scanning, only publishing it to ghrc.io if
# the scan passes.
#
name: Build and publish a Docker image

on:
  workflow_call:
    inputs:
      REF_TO_CHECKOUT:
        required: false
        type: string
        description: reference to checkout, e.g. a tag like v1.0.1.  Defaults to the branch/tag of the current event.
      IMAGE_REFERENCES:
        required: true
        type: string
        description: "image references, e.g., ghcr.io/sage-bionetworks/rstudio-service-catalog:1.0.1"

env:
  IMAGE_NAME: rstudio-test-image

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: amd64
            runner: ubuntu-24.04
          - platform: arm64
            runner: ubuntu-24.04-arm  # GitHub-hosted ARM runners are in beta

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.REF_TO_CHECKOUT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build platform-specific Docker image
        run: |
          docker buildx build \
            --platform linux/${{ matrix.platform }} \
            --cache-from type=gha,scope=${{ matrix.platform }} \
            --cache-to type=gha,scope=${{ matrix.platform }},mode=max \
            --output type=docker \
            -t ${{ env.IMAGE_NAME }}:${{ matrix.platform }} \
            .

          docker save \
            ${{ env.IMAGE_NAME }}:${{ matrix.platform }} \
            -o ${{ env.IMAGE_NAME }}.${{ matrix.platform }}.tar

      - name: Upload image output for this platform
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.IMAGE_NAME }}.${{ matrix.platform }}.tar
          path: ${{ env.IMAGE_NAME }}.${{ matrix.platform }}.tar
          retention-days: 7

    # Export environment variable as output to access the value
    # in the 'with' statement below
    outputs:
      image_name: ${{ env.IMAGE_NAME }}

  trivy-scan-amd64:
    needs: build
    uses: "./.github/workflows/trivy.yml"
    with:
      SOURCE_TYPE: tar
      IMAGE_NAME: ${{ needs.build.outputs.image_name }}:amd64
      TARFILE_NAME: ${{ needs.build.outputs.image_name }}.amd64.tar
      SARIF_ARTIFACT: trivy-results-amd64
      EXIT_CODE: 1
    permissions:
      contents: read
      deployments: write
      security-events: write

  trivy-scan-arm64:
    needs: build
    uses: "./.github/workflows/trivy.yml"
    with:
      SOURCE_TYPE: tar
      IMAGE_NAME: ${{ needs.build.outputs.image_name }}:arm64
      TARFILE_NAME: ${{ needs.build.outputs.image_name }}.arm64.tar
      SARIF_ARTIFACT: trivy-results-arm64
      EXIT_CODE: 1
    permissions:
      contents: read
      deployments: write
      security-events: write


  push-image:
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
    needs: [build, trivy-scan-amd64, trivy-scan-arm64]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Download images
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          pattern: ${{ needs.build.outputs.image_name }}*

      - name: Load, tag, and push multi-platform image
        run: |
          set -ex

          docker load -i ${{ env.IMAGE_NAME }}.amd64.tar
          docker load -i ${{ env.IMAGE_NAME }}.arm64.tar

          for tag in ${{ inputs.IMAGE_REFERENCES }}
          do
            # Tag and push platform-specific images
            docker tag ${{ env.IMAGE_NAME }}:amd64 "${tag}-amd64"
            docker tag ${{ env.IMAGE_NAME }}:arm64 "${tag}-arm64"
            docker push "${tag}-amd64"
            docker push "${tag}-arm64"

            # Create, annotate, and push multi-platform manifest
            docker manifest create "${tag}" --amend "${tag}-amd64" --amend "${tag}-arm64"
            docker manifest annotate "${tag}" "${tag}-amd64" --os linux --arch amd64
            docker manifest annotate "${tag}" "${tag}-arm64" --os linux --arch arm64
            docker manifest inspect "${tag}"
            docker manifest push "${tag}"
          done
...
